{{def get_thumbnails(products):}}
	<ul>
	{{for product in products:}}

			<li class="box_thumbnail">
				<div class="thumbnail">
				 	{{if product.thumbnail:}}
				 		<img src="{{=URL('home','download',args=[product.thumbnail])}}" alt="...">
				 	{{else:}}
				 		<img  src="http://placehold.it/260x180" alt="...">
				 	{{pass}}
					
					<div class="caption">	
						<h3> {{=product.name}} </h3>
							<p>
							<span>{{=product.unit_price}}</span>
							</p>		
					</div>	
				</div>
			</li>	
	{{pass}}
	</ul>
{{return}}