{{extend 'layout_1.html'}}
{{block head}}
<script>
	$(document).ready(function(){
		// $("input[type='text'], input[type='password']").addClass('form-control')
	})
</script>
<style>
	.well.l {
	    margin: 0 25px 32px;
	    padding: 50px;
	}	
</style>
{{end}}

{{block main}}
<div class="row">
	<div class="col-md-6 ">
		<div class="well l">
			  <h2>LOGIN</h2>
			{{=login}}
		</div>	
		
	</div>
	<div class="col-md-6 ">
		
		<div class="well l">
			  <h2>CADASTRO </h2>
			  {{=registro}}
		</div>
	</div>
</div>

{{end}}